body {
    background-color: rgb(32, 54, 57);
    color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.start-button {
    margin-top: 20px; /* Adjust as needed */
}

button {
    cursor: pointer;
    /* Add any additional styling you want for the button */
}


.box {
    background: rgb(224, 224, 211);
    border: 1px solid black;
    border-radius: 10%;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 10%;

}
.box h1 {
    font-weight: 25px;
    color: black;
    
}

.btn {
    border: 1px solid rgb(66, 101, 130);
    border-radius: 6px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    transition: all .3s;
    
}

#question {
    color:black;
}

.btn:hover {
    color: #fff;
    background-color: rgb(50, 86, 93);
}

.next-btn1 {
    display: block;
}
#next-btn {
    background: black;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 1px solid grey;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    display: none;
}
#next-btn:hover{
    background: rgb(rgb(0, 1, 1), green, blue);
}
.box p {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
}
.correct{
    background: #9aeabc;
}