body {
    background-color: rgb(45, 32, 57);
    color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.start-button {
    margin-top: 20px; /* Adjust as needed */
}

button {
    cursor: pointer;
    /* Add any additional styling you want for the button */
}


.box {
    background: rgb(224, 224, 211);
    border: 1px solid black;
    border-radius: 10%;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 10%;

}
.box h1 {
    font-weight: 25px;
    color: black;
    
}

.btn {
    border: 1px solid purple;
    border-radius: 15%;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    transition: all .3s;
    
}

.btn:hover {
    color: purple;
    background-color: yellow;
}

.next-btn1 {
    display: block;
}
.next-btn {
    background: black;
    color: #fff;
    font-weight: 500;
    width: 80px;
    border: 1px solid grey;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    display: none;



}

.box p {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
   

}